@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* stylelint-disable-next-line value-list-comma-newline-after */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  /* stylelint-disable-next-line value-list-comma-newline-after */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  /* stylelint-disable-next-line value-list-comma-newline-after */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

/* common styles */

body {
  position: relative;
  padding-top: 9px;
  font: 16px/18px "Roboto", "Arial", sans-serif;
  color: #ffffff;
  background-color: #849d8f;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  padding-bottom: 1px; /* making bottom gradient border visible */
  color: #ffffff;
  /* TODO: change "deg" to readable direction */
  background-image: linear-gradient(0deg, transparent 0, rgba(255, 255, 255, 0.3) 0, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
}

.link:hover,
.link:focus {
  color: #323232;
  /* TODO: change "deg" to readable direction  */
  background-image: linear-gradient(0deg, transparent 0, rgba(255, 188, 158, 0.3) 0, rgba(255, 188, 158, 0.3) 1px, transparent 1px);
}

.link:active {
  color: #ffbc9e;
  /* TODO: change "deg" to readable direction */
  background-image: linear-gradient(0deg, transparent 0, rgba(255, 188, 158, 0.3) 0, rgba(255, 188, 158, 0.3) 1px, transparent 1px);
}

.popup-link {
  padding-bottom: 1px; /* making bottom gradient border visible */
  color: #323232;
  /* TODO: change "deg" to readable direction */
  background-image: linear-gradient(0deg, transparent 0, rgba(50, 50, 50, 0.3) 0, rgba(50, 50, 50, 0.3) 1px, transparent 1px);
}

.popup-link:hover,
.popup-link:focus,
.popup-link:active {
  color: #e84d37;
  /* TODO: change "deg" to readable direction */
  background-image: linear-gradient(0deg, transparent 0, rgba(232, 77, 55, 0.3) 0, rgba(232, 77, 55, 0.3) 1px, transparent 1px);
}

.button {
  vertical-align: baseline;
  padding: 9px 24px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
  /* TODO: change "deg" to readable direction */
  opacity: 0.99;
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
  background-image: linear-gradient(to top, #ca3824, #f26843);
  cursor: pointer;
}

.button:hover,
.button:focus {
  box-shadow: 0 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.button:active {
  outline: 0; /* only for :active */
  box-shadow: inset 0 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, #e74a35, #f26843), linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  box-sizing: border-box;
}

.index-page .page-header {
  margin-bottom: 1162px; /* TODO: temporary */
}

.main-navigation {
  display: flex;
  align-items: center;
}

/* logo */

.logo {
  margin-right: 9px;
}

.logo-link {
  display: block;
  width: 154px;
  height: 64px;
  margin-right: 9px;
}

/* site nav */

.site-nav {
  margin: 0;
  margin-top: -4px;
  padding: 0;
  padding-bottom: 1px;
  list-style: none;
  font-size: 0;
}

.site-nav-item {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 14px 8px;
  font-size: 16px;
}

.site-nav-item.active {
  position: relative;
  background-color: #f8f7f4;
  border-radius: 20px;
}

.site-nav-item .link {
  font-weight: bold;
}

.site-nav-item.active > .link {
  /* background-color: #d07058;  */ /* TODO: uncomment */
  /* TODO: temporary added the same styles as for .link.active:hover, :focus, :active */
  color: #323232;
  background-image: none; /* to remove gradient underline */
}

.site-nav-item.active > .link:hover,
.site-nav-item.active > .link:focus,
.site-nav-item.active > .link:active {
  color: #323232;
  background-color: #f8f7f4;
}

/* site nav: subnav styles */

.subnav-popup {
  display: none;
  position: absolute;
  top: 38px;
  left: -6px;
  padding: 10px 0 7px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  background-color: #f8f7f4;
  box-shadow: rgba(0, 0, 0, 0.4) 0 20px 20px 0;
}

.site-nav-item.active .subnav-popup {
  display: block;
}

.subnav-group-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #323232;
}

.subnav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.subnav::before {
  content: "";
  display: block;
  margin-left: 6px;
  margin-right: 10px;
  margin-bottom: 4px;
  height: 1px;
  background-color: #d1d0ce;
}

.subnav .link {
  color: #323232;
}

.subnav-item {
  margin-bottom: 4px;
}

.subnav-item:last-child {
  margin-bottom: 1px;
}

.subnav-item .link {
  display: block;
  padding-left: 20px;
  padding-right: 21px;
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
  line-height: 27px;
  padding-bottom: 0; /* clear padding added for gradient underline */
}

.subnav-item .link:hover,
.subnav-item .link:focus {
  background-color: #fbded7;
}

.subnav-item .link:active {
  background-color: #fbb5a5;
}

/* user nav: common styles */

.user-nav {
  margin: 0;
  margin-top: -8px;
  margin-left: auto;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.user-nav-item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 11px;
  font-size: 14px;
}

.user-nav-item.active {
  position: relative;
}

.user-nav-item .icon-button {
  border: none;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.user-nav-item .text-icon-button {
  vertical-align: middle;
  height: 31px;
  margin-top: 3px;
  padding-right: 17px;
  padding-left: 43px;
  border-radius: 20px;
  letter-spacing: 0.007em;
}

.user-nav-item.active .text-icon-button {
  color: #323232;
  background-color: #ffffff;
}

/* search form */

.user-nav .search-link {
  position: relative;
  vertical-align: text-top;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.search-link .search-link-picture {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.user-nav-item.active path {
  fill: #323232;
}

.search-popup {
  display: none;
  position: absolute;
  top: 38px;
  box-sizing: border-box;
  width: 341px;
  padding: 20px 14px 20px 15px;
  right: 0;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: rgba(0, 0, 0, 0.4) 0 20px 20px 0;
}

.user-nav-item.active .search-popup {
  display: block;
}

.search-form input[type="search"] {
  width: calc(100% - 1px);
  padding: 13px;
  font-weight: bold;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

/* works only if specified as ungrouped */
.search-form input::-ms-input-placeholder {
  font-weight: normal;
  color: #999999;
}

/* works only if specified as ungrouped */
.search-form input::placeholder {
  font-weight: normal;
  color: #999999;
}

/* login form */

.login-popup {
  display: none;
  position: absolute;
  top: 39px;
  right: -1px;
  width: 242px;
  height: 185px;
  padding: 21px 15px 8px 20px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: rgba(0, 0, 0, 0.4) 0 20px 20px 0;
}

.user-nav-item.active .login-popup {
  display: block;
}

.user-nav-item .login-link {
  padding-bottom: 1px;
  background-image: url("../img/login-icon.svg");
  background-repeat: no-repeat;
  background-position: 15px 6px;
}

.user-nav-item .login-link:hover,
.user-nav-item .login-link:focus,
.user-nav-item .login-link:active,
.user-nav-item.active .login-link {
  padding-bottom: 4px;
  color: #323232;
  background-color: #f7f6f3;
  background-image: url("../img/login-icon-active.svg");
  background-repeat: no-repeat;
  background-position: 14px 6px;
}

.login-form-row {
  margin-bottom: 22px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: calc(100% - 31px);
  padding: 13px 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: rgba(178, 178, 178, 0.52) 0 0 0 1px;
}

.login-form input[type="email"]:hover,
.login-form input[type="password"]:hover {
  box-shadow: rgba(154, 154, 154, 0.52) 0 0 0 2px;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
  outline: 0;
  box-shadow: rgba(46, 136, 228, 0.52) 0 0 0 2px;
}

/* works only if specified as ungrouped */
.login-form input::-ms-input-placeholder {
  font-weight: normal;
  color: #999999;
}

/* works only if specified as ungrouped */
.login-form input::placeholder {
  font-weight: normal;
  color: #999999;
}

.login-form-actions-container {
  display: flex;
  justify-content: space-between;
}

.login-form button[type="submit"] {
  padding: 8px 24px 11px;
  border-radius: 18px;
  color: #fefefe;
}

.login-action-list {
  margin: 0;
  padding: 0;
  padding-right: 4px;
}

.login-action-item {
  margin-top: -3px;
}

.login-action-link {
  letter-spacing: 0;
  font-size: 13px;
  line-height: 24px;
  white-space: nowrap;
}

/* shopping cart */

.user-nav-item .cart-link {
  padding-bottom: 1px;
  background-image: url("../img/cart-icon-empty.svg");
  background-repeat: no-repeat;
  background-position: 15px 6px;
}

.user-nav-item.cart-full .cart-link:hover,
.user-nav-item.cart-full .cart-link:focus,
.user-nav-item.cart-full .cart-link:active,
.user-nav-item.cart-full .cart-link {
  background-image: url("../img/cart-icon-full.svg");
  background-repeat: no-repeat;
  background-position: 15px 6px;
  color: #323232;
  background-color: #f7f6f3;
}

.shopping-cart-popup {
  display: none;
}

.shopping-cart-popup .button {
  color: #fefefe;
}

.working-info-rows {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.working-hours,
.work-phone-number {
  margin-top: 0;
}

.working-hours {
  margin-top: -1px;
  margin-right: -1px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.work-phone-number {
  margin-bottom: 0;
  margin-right: -2px;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
}

/* index page */

.index-page .main-content {
  /* margin-bottom: 40px; */ /* TODO: uncomment later */
  margin-bottom: 506px;
}

.catalog-page .main-content {
  margin-bottom: 131px; /* TODO: temporary */
}

.features {
  padding: 23px 21px 0;
  margin-bottom: 40px;
  color: #323232;
  background-color: #eee3d0;
}

.features-desc {
  margin-top: 0;
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* TODO: accomplish the micro-grid later */
  margin: 0;
  padding: 0;
  line-height: 22px;
  list-style: none;
}

.features-list-item {
  /* TODO: accomplish the micro-grid elements later */
  width: 488px;
  margin-bottom: 24px;
  padding-left: 56px;
}

.misc-columns {
  display: flex;
  justify-content: space-between;
  height: 215px;
}

.misc-column {
  box-sizing: border-box;
  width: 560px;
}

.news-item {
  position: relative;
  color: #323232;
  background-color: #ffffff;
}

.news-item-title {
  position: absolute;
  top: 9px;
  left: 20px;
  width: 560px;
  height: 220px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.news-item-link-column {
  position: absolute;
  top: 47px;
  left: 20px;
  box-sizing: border-box;
  width: 290px;
}

.news-item-link {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #323232;
  /* TODO: change "deg" to readable direction */
  background-image: linear-gradient(180deg, transparent 26px, #000000 26px, #000000 28px, transparent);
}

.news-item-title-link:hover,
.news-item-title-link:focus,
.news-item-title-link:active {
  color: #e84d37;
  box-shadow: 0 2px currentColor;
}

.mailing-list {
  padding: 28px 20px 26px;
  border: 5px solid aqua; /* TODO: color is temporary; border-image is intended */
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.mailing-list-desc {
  margin-top: 0;
  margin-bottom: 37px;
  margin-left: 2px;
  line-height: 22px;
  /* TODO: letter-spacing: 0.002em; */
}

.mailing-list-form {
  display: flex;
}

.mailing-list-form input,
.mailing-list-form button {
  box-sizing: border-box;
  height: 44px;
}

.mailing-list-form input {
  width: 370px;
  margin-right: 9px;
  padding: 0 15px;
  padding-bottom: 3px;
}

.mailing-list-form button[type="submit"] {
  min-width: 131px;
  padding-bottom: 7px;
}

/* works only if specified as ungrouped */
.mailing-list input::-ms-input-placeholder {
  color: #999999;
}

/* works only if specified as ungrouped */
.mailing-list input::placeholder {
  color: #999999;
}

/* contact popup */

.contact-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 477px;
  height: 442px;
  padding: 14px 24px;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.contact-popup.open {
  display: block;
}

.contact-popup-overlay {
  display: none;
}

.contact-popup.open + .contact-popup-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
}

.contact-heading {
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0;
  color: #323232;
}

.contact-form {
  padding-top: 1px;
}

.contact-form-row {
  margin-bottom: 22px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  box-sizing: border-box;
  width: 265px;
  /* margin-bottom: -1px; */
  padding: 13px 14px 11px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: rgba(178, 178, 178, 0.52) 0 0 0 1px;
}

.contact-form textarea {
  width: calc(100% - 31px);
  height: 137px;
  padding: 7px 14px 9px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0;
  background-color: #ffffff;
  box-shadow: rgba(178, 178, 178, 0.52) 0 0 0 1px;
  resize: none;
  overflow: hidden;
}

.contact-form input[type="text"]:hover,
.contact-form input[type="email"]:hover,
.contact-form textarea:hover {
  box-shadow: rgba(154, 154, 154, 0.52) 0 0 0 2px;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  outline: 0;
  box-shadow: rgba(46, 136, 228, 0.52) 0 0 0 2px;
}

/* works only if specified as ungrouped */
.contact-form input::-ms-input-placeholder {
  font-weight: normal;
  color: #999999;
}

/* works only if specified as ungrouped */
.contact-form textarea::-ms-input-placeholder {
  font-weight: normal;
  color: #999999;
}

/* works only if specified as ungrouped */
.contact-form input::placeholder {
  font-weight: normal;
  color: #999999;
}

/* works only if specified as ungrouped */
.contact-form textarea::placeholder {
  font-weight: normal;
  color: #999999;
}

.contact-form button[type="submit"] {
  float: right;
  padding: 8px 23px 11px;
  border-radius: 25px;
  color: #fefefe;
}

.contact-popup .button-close {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 17px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/cross-big.svg");
  background-position: center;
  cursor: pointer;
}

/* catalog page */

.breadcrumbs {
  margin: 0;
  margin-top: -19px;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.breadcrumbs-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 21px;
  font-size: 14px;
  line-height: 16px;
}

.catalog-section-title {
  margin-top: 2px;
  margin-left: 1px;
  margin-bottom: 200px; /* TODO: temporary */
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

.catalog-items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  width: 267px;
  margin-bottom: 38px;
}

.catalog-item-picture {
  margin-bottom: 9px;
}

.catalog-item .price {
  position: absolute;
  top: 207px;
  line-height: 13.13px;
  font-weight: bold;
  left: -2px;
}

.catalog-item-title {
  margin: 0;
  padding: 0 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.price .value,
.price .currency {
  font-size: 45px;
}

.price .currency {
  margin-left: 4px;
}

.price .weight {
  font-size: 30px;
  font-weight: bold;
}

.page-footer {
  display: flex;
  justify-content: space-between;
}

.social-networks,
.info-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-networks {
  width: 186px;
}

.info-links {
  box-sizing: border-box;
  width: 320px;
  margin-top: -1px;
  padding: 0 11px;
}

.info-links .link {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.info-links .suppliers-info-link {
  font-weight: bold;
}

.copyright {
  margin-top: -14px;
  font-size: 12px;
  line-height: 16px;
}

.copyright-logo-link {
  display: block;
  width: 108px;
  height: 38px;
  padding-left: 2px;
  margin-bottom: 5px;
}

.copyright-text {
  margin-top: 1px;
}

.copyright-link {
  color: #ffffff;
}
