@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* stylelint-disable-next-line value-list-comma-newline-after */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  /* stylelint-disable-next-line value-keyword-case */
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  /* stylelint-disable-next-line value-list-comma-newline-after */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  /* stylelint-disable-next-line value-keyword-case */
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  /* stylelint-disable-next-line value-list-comma-newline-after */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  /* stylelint-disable-next-line value-keyword-case */
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

body {
  font: 16px/18px "Roboto", "Arial", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

img {
  max-width: 100%;
}

a {
  font-weight: bold;
  color: #ffffff;
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;
}

.button {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;

  background-color: #e74a35;
  cursor: pointer;
}

.button:hover,
.button:focus {
  opacity: 0.2; /* temporary */
}

.button:active {
  background-color: #f26843;
}

/* TODO: temporary hide pop-ups,  */
.subnav-holder,
.search-popup,
.login-popup,
.contact-popup,
.shopping-cart-popup {
  display: none;
}

.site-nav-link:hover,
.site-nav-link:focus,
.site-nav-link:active {
  color: #ffffff;
}

.site-nav-link:active {
  color: #323232;
  background-color: #f8f7f4;
}

.site-nav .active .site-nav-link {
  background-color: #d07058;
}

.site-nav .active .site-nav-link:active {
  color: #323232;
  background-color: #f8f7f4;
}

.user-nav a {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.cart-link {
  color: #323232;
}

.working-hours {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.work-phone-number {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
}

.features {
  background-color: #eee3d0;
  color: #323232;
}

.features-desc {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  list-style: none;
  line-height: 22px;
}

.news-item {
  color: #323232;
  background-color: #ffffff;
}

.news-item h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.news-item-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: inherit;
}

.mailing-list {
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.mailing-list-desc {
  line-height: 22px;
}

.mailing-list input::placeholder {
  color: #999999;
}

.mailing-list input::-ms-input-placeholder {
  color: #999999;
}

.social-networks,
.info-links {
  list-style: none;
}

.info-link {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.info-links li:first-child .info-link {
  font-weight: bold;
}

.copyright {
  font-size: 12px;
  line-height: 16px;
}
