@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* stylelint-disable-next-line value-list-comma-newline-after */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  /* stylelint-disable-next-line value-list-comma-newline-after */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  /* stylelint-disable-next-line value-list-comma-newline-after */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

body {
  padding-top: 9px;
  font: 16px/18px "Roboto", "Arial", sans-serif;
  color: #ffffff;
  background-color: #849d8f;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  color: #ffffff;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2);
}

.link:hover,
.link:focus,
.link:active {
  color: #ffbc9e;
  box-shadow: 0 1px rgba(255, 188, 158, 0.3);
}

.button {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;

  background-color: #e74a35;
  cursor: pointer;
}

.button:hover,
.button:focus {
  opacity: 0.2; /* temporary */
}

.button:active {
  background-color: #f26843;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  box-sizing: border-box;
}

/* TODO: temporary hide pop-ups,  */
.subnav-popup,
.search-popup,
.login-popup,
.contact-popup,
.shopping-cart-popup {
  display: none;
}

.main-navigation {
  display: flex;
}

.logo {
  margin-right: 23px;
}

.site-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav .link {
  font-weight: bold;
}

.site-nav .link:active {
  color: #323232;
  background-color: #f8f7f4;
}

.site-nav .link.active {
  background-color: #d07058;
}

.site-nav .link:hover.active,
.site-nav .link:focus.active,
.site-nav .link:active.active {
  color: #323232;
  background-color: #f8f7f4;
}

.subnav-popup {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  background-color: #ffffff;
}

.subnav {
  list-style: none;
}

.subnav-group-title {
  color: #323232;
}

.subnav .link {
  color: #323232;
  box-shadow: 0 1px rgba(50, 50, 50, 0.3);
}

.subnav .link:hover,
.subnav .link:focus,
.subnav .link:active {
  color: #e84d37;
  box-shadow: 0 1px rgba(232, 77, 55, 0.3);
}

.user-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 294px;
  list-style: none;
}

.user-nav .link {
  font-size: 14px;
  line-height: 16px;
}

.user-nav .icon-button {
  border: none;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
}

.user-nav .text-icon-button {
  padding-right: 16px;
  padding-left: 49px;
}

.user-nav-item {
  margin-left: 7px;
}

.user-nav .search-link {
  padding-right: 6px;
}

.working-hours {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.work-phone-number {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
}

.features {
  color: #323232;
  background-color: #eee3d0;
}

.features-desc {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  list-style: none;
  line-height: 22px;
}

.news-item {
  color: #323232;
  background-color: #ffffff;
}

.news-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.news-item-link {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
  height: 25px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #323232;
  box-shadow: 0 2px currentColor;
}

.news-item-title-link:hover,
.news-item-title-link:focus,
.news-item-title-link:active {
  color: #e84d37;
  box-shadow: 0 2px currentColor;
}

.mailing-list {
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.mailing-list-desc {
  line-height: 22px;
}

/* NOTE: works only if specified as ungrouped */
.mailing-list input::-ms-input-placeholder {
  color: #999999;
}

/* NOTE: works only if specified as ungrouped */
.mailing-list input::placeholder {
  color: #999999;
}

.catalog-section-title {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

.catalog-items-list {
  list-style: none;
}

.catalog-item-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.catalog-item .price {
  line-height: 13.13px;
  font-weight: bold;
}

.price .value,
.price .currency {
  font-size: 45px;
}

.price .currency {
  margin-left: 4px;
}

.price .weight {
  font-size: 30px;
  font-weight: bold;
}

.social-networks,
.info-links {
  list-style: none;
}

.info-links .link {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.info-links .suppliers-info-link {
  font-weight: bold;
}

.copyright {
  font-size: 12px;
  line-height: 16px;
}

.copyright-link {
  color: #ffffff;
}
